<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/dashboard.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css" />
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>

</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/programs">Programs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/members">Members</a>
            
                <a class="dropdown-item" href="/members/find/PhoneNumber#smsform">Send Bulk Sms</a>
              
              
                <a class="dropdown-item" href="/members/find/Email#mailform">Send Bulk Mail</a>
              
            
          </li>
          
        </ul>
      </nav>
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
