<% include partials/header %>
<style>
.jumbotron{
    background-color: #fff
}
</style>
<!-- <div class="container">
    <div class="jumbotron">
        <h1>The Membership Database App</h1>
    </div>
    <div class="row">
        <div class="col-lg-6 list-group">
            <a href="/programs/new" class="list-group-item btn btn-outline-info btn-md">Add New Program</a>
            <a href="/programs" class="list-group-item btn btn-outline-info btn-md">Show List of Programs</a>
            <a href="/members/new" class="list-group-item btn btn-outline-info btn-md">Add New Member to DB</a>
            <a href="/members" class="list-group-item btn btn-outline-info btn-md">Show Membership Database</a>
        </div>
    </div>
</div> -->

    
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">


         <h1>The Membership Database App</h1>
            <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
             <a href="/programs/new"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Add New Program"></a>
             <a href="/programs/new"><p>Add a New Program</p></a>
              
            </div>
            <div class="col-6 col-sm-3 placeholder">
             <a href="/programs"><img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="View or Edit Programs Data"></a>
             <a href="/programs"><p>View or Edit Programs Data</p></a>
            </div>
            <div class="col-6 col-sm-3 placeholder">
                <a href="/members/new"><img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt=""></a>
              <a href="/members/new"><p>Add New Member to Database</p></a>
              </div>
            <div class="col-6 col-sm-3 placeholder">
                <a href="/members"><img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="View or Edit Members Data"></a>
                <a href="/members"><p>View or Edit Members Data</p></a>
            </div>
          </section>

          </main>
      </div>
    </div>

    
<% include partials/footer %>